* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "death-star", 'PT Sans', sans-serif;
  }
  
  .home,
  .contact-me,
  .gaming,
  .projects {
    display: flex;
    height: 95vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .contact-me {
    background-image: url('/public/images/light-side.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .gaming {
    background-image: url('/public/images/star_wars_galaxy_of_heroes_new_loading_screen.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    font-family: "death-star", 'PT Sans', sans-serif;
  }
  
  .projects {
    background-image: url('/public/images/VaderVsAshoka.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    font-family: "death-star", 'PT Sans', sans-serif;
  }

  @media screen and (max-width: 450px) {
    .gaming {
      font-size: 64px;
    }
    .projects {
      font-size: 64px;
    }
  }